a {
	text-decoration: none;
}

.hover {
	border: 1px dotted darkred;
}

a.div_entry_add, a.div_comment_add {
	display: block; 
	padding: 3px 13px; 
	text-align: right; 
	cursor: hand;
}

div.entry {
	border-bottom: 1px #000 dotted; 
	margin: 10px 0; 
	padding: 3px 13px;
}

div.entry {
	padding-bottom: 13px;
}

div.wrapper_comments {
	border: 1px dotted #000; 
	margin: 8px; 
	padding: 8px;
}

h4.entry_title {
	margin: 0; 
	margin-bottom: 3px;
}

h4.entry_description {
	margin: 0; 
	margin-top: 3px;
	margin-bottom: 3px; 
	font-weight: 100; 
	font-style: italic;
}