body {
	overflow-y: scroll;
	margin: 0;
	padding: 0;

	font-family: Georgia;
	letter-spacing: 0.2pt;
}

a {
	border: 1px solid #fff;
	text-decoration: none;
}

.hover {
	border: 1px dotted orange;
}

a.div_entry_add {
	display: block; 
	padding: 3px 13px; 
	text-align: right; 
	cursor: hand;
}

a.div_comment_add {
	display: block; 
	margin: 0 8px;
	padding: 3px 13px; 
	text-align: right; 
	cursor: hand;
}

div.div_entry_add {
	border: 1px solid #fff;
}

div.entry {
	border-bottom: 1px #000 dotted; 
	margin-bottom: 10px; 
	padding: 3px 13px;
}

div.entry {
	padding-bottom: 13px;
}

div.wrapper_comments {
	border: 1px dotted #000; 
	margin: 8px; 
	padding: 8px;
}

.h4_entry_title_inactive {
	border: 1px solid #fff; 
	padding: 6px;
	width: 500px;
	font-size: 16px; 
	font-weight: bold; 
	font-family: Georgia
}

.h4_entry_title {
	border: 1px dotted orange;
	width: 500px;
}

span.title_span {

}

h4.entry_title {
	margin: 0 0 3px 0; 
}

h4.entry_description {
	margin: 6px 0 6px 0; 
	font-weight: 100; 
	font-style: italic;
}

h4.normal {
	 margin: 8px 0px; 
	 font-weight: normal;
}

ul.comments {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.credentials_error {
	color: red;
}

.login_button {
	display: block; 
	border: 1px solid #bbb; 
	-webkit-box-shadow: 1px 1px 1px #000; 
	background-color: #fff; 
	margin-top: 23px; 
	width: 80px; 
	height: 27px
}

.textfield {
	padding: 6px; 
	width: 500px; 
	height: 32px;
}

.textarea {
	width: 500px; 
	height: 80px; 
	padding: 8px;
}