body {
	overflow-y: scroll;
	margin: 0;
	padding: 0;

	width: 1200px;

	font-family: Georgia;
	letter-spacing: 0.2pt;
}

a {
	border: 1px solid #fff;
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #000;
}

.hover {
	border: 1px dotted orange;
}

a.comment_add_link {
	display: block; 
	margin: 6px 0;
	padding: 3px 13px; 
	text-align: right; 
	cursor: hand;
}

div.div_entry_add {
	padding: 13px;
	-webkit-box-shadow: 0px 0px 2px #032946;
	box-shadow: 0px 0px 2px #032946;
}

.entry_add_link,
.entry_details_link {
	box-shadow: 0px 2px 6px #bbb; 
	background-image: url('bg_button_add.png'); 
	background-repeat: repeat-x; 
	border: 0;
	width: 90px; 
	height: 32px; 
	cursor: hand;
	color: #fff;
}

button.button {
	box-shadow: 0px 2px 6px #bbb; 
	background-image: url('bg_button_add.png'); 
	background-repeat: repeat-x; 
	border: 0;
	width: 90px; 
	height: 32px; 
	cursor: hand;
	color: #fff;
}

div.entry {
	margin-bottom: 13px; 
	padding: 3px 13px;
	-webkit-box-shadow: 0px 0px 2px #032946;
	box-shadow: 0px 0px 2px #032946;
}

div.entry {
	padding-bottom: 13px;
}

div.entry_details {
	margin-bottom: 13px; 
	padding: 3px 13px;
}

div.wrapper_comments {
	border: 1px dotted #000; 
	margin: 8px 0; 
	padding: 8px;
}

.entry_title_inactive,
.comments_title_inactive {
	border: 1px solid #fff; 
	margin: 0;
	padding: 6px;
	font-size: 16px; 
	font-weight: bold; 
	font-family: Georgia;
}

.tags_textfield_inactive {
	border: 1px solid #fff; 
	margin: 0;
	padding: 6px;
	font-size: 16px; 
	font-style: italic;
	font-family: Georgia;
	color: #aaa;
}

.entry_title,
.comments_title,
.tags_textfield {
	border: 1px dotted orange;
	width: 500px;
}

.entry_title_confirm,
.comments_title_confirm {
	position: absolute;
	z-index: 1000;
	border: 1px solid green; 
	padding: 2px 23px;
}

.entry_delete_confirmation,
.comment_delete_confirmation {
	display: none; 
	z-index: 1000; 
	position: absolute; 
	border: 1px solid red; 
	padding: 2px 23px;
}

span.title_span {

}

h4.entry_description {
	margin: 0; 
	padding: 3px;
	font-weight: 100; 
	font-style: italic;
}

h4.entry_new_title {
	margin: 0 0 13px 0;
}

h4.entry_new_description {
	margin-bottom: 6px;
	font-weight: 100;
	font-style: italic;;
}

h4.normal {
	 margin: 8px 0px; 
	 font-weight: normal;
}

ul.comments {
	margin: 3px 0;
	padding: 0;

	list-style-type: none;
}

li.comment {
	margin: 0; 
	cursor: hand;
}

li.comment > span.searchable {
	padding: 4px;
}

input {
	letter-spacing: 0.2pt;
}

.entry_delete_link {
	display: block; 
	margin-bottom: 3px;
	padding: 3px 13px;
}

.comment_delete_link {
	padding: 3px 13px;
}

.credentials_error {
	color: red;
}

.login_button {
	display: block; 
	border: 1px solid #bbb; 
	-webkit-box-shadow: 1px 1px 1px #000; 
	background-color: #fff; 
	margin-top: 23px; 
	width: 80px; 
	height: 27px
}

.textfield {
	padding: 6px; 
	width: 600px; 
	height: 32px;
}

.textarea,
.textarea_comment
 {
	width: 600px; 
	height: 80px; 
	padding: 6px;
}

/* jQuery default style manipulations */

.ui-button {
	border: 1px solid #bbb;
	box-shadow: 0px 1px 2px #bbb; 
	min-width: 62px;
	padding: 4px;
}

.ui-button-text,
.ui-button-text-only {
	padding: 0;
	font-family: Georgia;
	font-size: 13px;
	color: #000;
}