/*
	USED COLORS

	blue1: 064580;
	blue2: 0c5aaa;

	blue3: 3F5972;
	blue4: e9eef9;
*/

body {
	overflow-y: scroll;
	background: #eee;
	margin: 0;
	padding: 0;

	font-family: Georgia;
	letter-spacing: 0.3pt;
}

#container {
	background: #fff;
	box-shadow: 0px 4px 4px 2px #bbb;

	width: 1024px;
	margin: 0 auto;
}

#header {
	z-index: 2;
	position: fixed; 
	top: 0;

	background: #fff;
	border-bottom: 1px solid #ccc;
	/*box-shadow: 0px 2px 4px #bbb;*/
	padding: 13px 32px;
	width: 960px;
}

#beforeContent {
	margin: 0 32px;
	padding: 90px 0 0;
}

#content {
	background: #fff;
	margin: 32px;
	padding-bottom: 32px;
}

a {
	border: 1px solid #fff;
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #000;
}

.hover {
	border: 1px dotted orange;
}

.box_shadow {
	box-shadow: 0px 2px 2px #ccc;
}

a.comment_add_link {
	display: block; 
	margin: 6px 0;
	padding: 3px 13px; 
	text-align: right; 
	cursor: hand;
}

div.div_entry_add {
	padding: 13px;
	-webkit-box-shadow: 0px 0px 2px #032946;
	box-shadow: 0px 0px 2px #032946;
}

/* entry_header > */

div.entry_icon {
	float: left;
	width: 46px;
	padding: 6px 0;
}

div.entry_description {
	float: left;
	width: 580px;
}

div.entry_operations {
	float: left; 
	width: 280px; 
	padding: 6px 0;
}

div.entry_buttons {
	float: right;
	padding: 6px 4px;
}

.entry_add_link,
.entry_details_link {
	box-shadow: 0px 2px 6px #bbb; 
	background-image: url('bg_button_add.png'); 
	background-repeat: repeat-x; 
	border: 0;
	width: 90px; 
	height: 32px; 
	cursor: hand;
	color: #fff;
}

.button {
	box-shadow: 0px 2px 6px #bbb; 
	background-image: url('bg_button_add.png'); 
	background-repeat: repeat-x; 
	border: 0;
	width: 90px; 
	height: 32px;
	cursor: hand;
	color: #fff;
}

button.operatorButton {
	background: #fff;
	/*box-shadow: 0px 0px 1px #ccc; */
	border: 1px solid #ccc;
	min-width: 68px;
	height: 23px; 
	cursor: hand;
	color: #aaa;
}

button.doneButton {
	border: 1px solid green; 
	width: 82px; 
	color: #000;
}

button.confirmationButton {
	border: 1px solid red; 
	width: 82px; 
	color: #000;
}

div.wrapper_entry {
	border-bottom: 1px solid #ccc;
	padding: 13px 0;
}

div.entry {

}

div.entry_details {
	margin-bottom: 13px; 
	padding: 3px 13px 23px;
}

div.wrapper_comments { 
	padding: 13px 46px;
}

div.comment_add_div {
	margin: 8px 38px;
}

.entry_title_inactive,
.comments_title_inactive {
	border: 1px solid #fff; 
	margin: 0;
	padding: 6px;
	font-size: 16px; 
	font-weight: bold; 
	font-family: Georgia;
}

.tags_textfield_inactive {
	border: 1px solid #fff; 
	margin: 0;
	padding: 6px;
	font-size: 16px; 
	font-style: italic;
	font-family: Georgia;
	color: #aaa;
}

.entry_title,
.comments_title,
.tags_textfield {
	border: 1px dotted orange;
	width: 500px;
}

.entry_title_confirm,
.comments_title_confirm {
	display: none;
	position: absolute;
	z-index: 1000;
}

.entry_delete_confirmation,
.comment_delete_confirmation {
	display: none; 
	z-index: 1000; 
	position: absolute; 
	font-family: Georgia;
}

span.title_span {

}

h4.entry_description {
	clear: both;
	margin: 0; 
	padding: 4px 8px;
	font-weight: 100; 
	font-style: italic;
}

h4.entry_new_title {
	margin: 0 0 13px 0;
}

h4.entry_new_description {
	margin-bottom: 6px;
	font-weight: 100;
	font-style: italic;;
}

h4.normal {
	 margin: 8px 0px; 
	 font-weight: normal;
}

ul.comments {
	margin: 3px 0;
	padding: 0;

	list-style-type: none;
}

li.comment {
	margin: 0; 
	cursor: hand;
}

li.comment > span.searchable {
	padding: 4px;
}

input {
	letter-spacing: 0.2pt;
}

.entry_delete_link {
}

.comment_delete_link {
	padding: 3px 13px;
}

.credentials_error {
	padding: 13px 0;
	font-size: 13px;
	color: red;
}

.login_button {
	display: block; 
	border: 1px solid #bbb; 
	-webkit-box-shadow: 1px 1px 1px #000; 
	background-color: #fff; 
	margin-top: 23px; 
	width: 80px; 
	height: 27px
}

.textfield {
	padding: 6px; 
	width: 560px; 
	height: 32px;
}

.textfield_smaller {
	padding: 2px; 
	width: 300px; 
	height: 26px;
}

.textarea,
.comment_textarea
 {
	width: 600px; 
	height: 80px; 
	padding: 6px;
}

.infotext {
	margin: 0 13px; 
	vertical-align: middle; 
	color: #ddd;
}

.favoredIcon {
	cursor: hand;
}

/* jQuery default style manipulations */

.ui-button {
	border: 1px solid #bbb;
	min-width: 62px;
	padding: 4px;
}

.ui-button-text,
.ui-button-text-only {
	padding: 0;
	font-family: Georgia;
	font-size: 13px;
	color: #000;
}